<p>Interpolation Data Binding Example</p>
<h1>Hello! This is my First {{title}}</h1>
<br>
<p>Property Binding</p>
<button type="button" [disabled]="isUnchanged">Property Binding Button</button>
<p>
  Event Binding
</p>
<button type="button" [disabled]="isEvent" (click)="onClick()">Event Binding Button</button>
<p>Attribute binding</p>
<!-- create and set an aria attribute for assistive technology -->
<button type="button" [attr.aria]="actionName">{{actionName}} with Aria</button>
<table>
  <thead>
    <tr>
      <td [attr.colspan]="1 + 1">Hello</td>
      <td>he</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>World</td>
      <td>Hi my name qasim jalal</td>
    </tr>
  </tbody>
</table>
<p>build in directive NgClss</p>
<div [ngClass]="isSpecial ? 'special' : 'notspecial'">This div is special</div>
<br>
<p>ng style Directive</p>
<div [ngStyle]="currentStyles">
  this ng style directive test
</div>
<br>
<p>ng model Directive</p>
<input type="text" placeholder="Github Username" value="" [(ngModel)]="username">
<p>you entered {{username}}</p>
<button (click)="clearForm()">Clear</button>

<br>
<h3>Structural Directives</h3>
<p>ng If</p>
ShowMe
<input type="checkbox" value="" [(ngModel)]="showMe" />
<p *ngIf="showMe">
  Show me is checked</p>
<p *ngIf="!showMe">
  Show me is unchecked</p>

<app-app-detail (newItemEvent)="addItem($event)"></app-app-detail>

<ul *ngFor="let item of items ">
  <li>{{item}}</li>
</ul>


<router-outlet></router-outlet>